<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        #checkboxes label{
            display:block;
            padding:5px;
        }
    </style>
        
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <div style="text-align: center;padding:20px;font-size:400%;">
        <p>Select companies to analyze</p>
        <hr>
      </div>
      <div class="hero-body">
        <div class="container" style="text-align:center">

            <h1 class="title">Favourites</h1>
            <form name="analyzeForm" method="POST">
                <div id="checkboxes">
                    {%for ticker,name in fav%}
                    <label for=""><input type="checkbox" name = "mycheckbox" value={{ticker}} />{{name}}</label>
                    {%endfor%}
                    
                </div>
                <button type="submit">Analyze</button>
            </form>
            

        </div>
      </div>
    </section>
  </body>
</html>