<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://kit.fontawesome.com/ca641dffb4.js" crossorigin="anonymous"></script>

    <style>
            h1 {
                color:Green;
            }
            div.scroll {
                margin:10px;
                padding:2% 2%;
                width: 30%;
                height: 800px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
                color:black;
                border-style: solid;
                background-color:#DCDCDC;
                border-radius: 2%;
            }
        </style>
  </head>
  <body>
    <section class="hero is-success is-fullheight">
    <div style="text-align: center;padding:20px;font-size:400%;">
    <p>Manage Following <a href="{{url_for('profile')}}"><i class="fas fa-home"></i></a></p>
    <hr>
    </div>
    
      <div class="hero-body">
        <div class="container scroll">
            <h1 class="title" style="color:#174c26">All Users</h1>
            <hr style="height:10px;background-color:black;width:100%">
            <ul>
                <li>
                {%for id,name in users%}
                <h2 class="subtitle" style="color:black">
                <p>
                    <a href="{{ url_for('toggleFollowing',id = id) }}">
                        {%if (id,name) in following%}
                        <i class="fas fa-user-times"></i>
                        {%else%}
                        <i class="fas fa-user-friends"></i>
                        {%endif%}
                    </a>
                    {{name}}
                    </p>
                </h2>
                <hr>
                {%endfor%}
            </ul>
        </div>
        <div class="container scroll">
            <h1 class="title" style="color:#0b035b">Following</h1>
            <hr style="height:10px;background-color:black;width:100%">
            {%for id,name in following%}
            <h2 class="subtitle"  style="color:black">
            <p>
            <a href="{{ url_for('toggleFollowing',id = id) }}">
            <i class="fas fa-user-times"></i>
            </a>
            {{name}}
            </p>
            </h2>
            <hr>
            {%endfor%}
        </div>

        <div class="container scroll">
            <h1 class="title" style="color:#0b035b">Your friends like</h1>
            <hr style="height:10px;background-color:black;width:100%">
            {%for ticker,name in followingFav%}
            <h2 class="subtitle"  style="color:black">
            <p>
            <a href="{{ url_for('toggleFavourites',ticker = ticker) }}">
            <i class="fas fa-user-times"></i>
            </a>
            {{name}}
            </p>
            </h2>
            <hr>
            {%endfor%}
        </div>
      </div>

      </div>

    </section>
  </body>
</html>