<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>My Notes</title>
    </head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

   <body>

    <section class="hero is-success is-fullheight">
        <div class="hero-body">
          <div class="container">
            <form  method = "POST">
                Write your notes here!
                <br>
                <input class="input" type="text" name="Notes" placeholder="Write your note here...">
                <br>
                <input type = "submit" value = "Save" />
            </form>
        
            <h1 class="title">Saved Notes</h1>
            {%for id,note in user_notes%}
            <h2 class="subtitle">
            <p>{{note}}</p>
            <a href = "{{ url_for('remove_notes',note = note) }}"><button>Delete</button></a>
            <a href = "{{ url_for('edit_notes',note = note) }}"><button>Edit</button></a>
            </h2>
            {%endfor%}


          </div>
        </div>
    </section>
      
   </body>
</html>